         body{
            display: block;
            align-items: center;
            justify-items: center;
        }

        .kotak1{ 
            width: 150px;
            height: 150px;
            border: 2px solid black;  
            background-color: red;
            justify-content:center ;
            align-items: center;
            display: flex;
        }
        .kotak2{ 
            width: 150px;
            height: 150px;
            border: 2px solid black;  
            background-color: white; 
            justify-content:center ;
            align-items: center;
            display: flex;
           

        }
        .kotak3{ 
            width: 150px;
            height: 150px;
            border: 2px solid black;  
            background-color: blue;  
            justify-content:center ;
            align-items: center;
            display: flex;
           
        }
        
        .container{
            display: flex;
            width: 480px;
            flex-wrap: wrap;
            gap: 10px;
            height: 10vh;
        }